*{
	padding:0px;
	margin:0px;
}
body{

	background-color: #fff;
	background:url(https://informacion.unad.edu.co/images/acerca%20de%20la%20unad/simbolos/logo_vertical.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 1% 500px;
	cursor: pointer;
}

h1{
	text-align: center;
}

 ul, ol{
list-style:none; 
 }


  .navbar li a {
    width: 243px; 
    color:#fff;
    background-color:#000;
    text-decoration: none;
    display: block;
    padding: 10px 15px;

}
.navbar > li{
	float: left;
	text-align: center;
}

h3{
	text-align: center;

}
h4{
	margin:20px;
}